* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: grid;
    place-content: center;
}
div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 5px solid rgb(218, 48, 96);
    border-left-color: transparent;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
div:hover {
 animation-play-state: paused;
}
div::before {
    content: " ";
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 5px solid rgb(39, 169, 245);
    border-top-color: transparent;
}
div::after {
    content: " ";
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid rgb(245, 197, 39);
    border-right-color: transparent;
}