.main {
    width: 400px;
    margin: auto;
}
.head {
    background-color:  #eee;
    list-style: none;
    padding: 20px;
    margin: 20px;
} 
ol li,
.li {
    background-color: white;
    margin: 5px;
    padding: 5px;
}
.inside {
    list-style-position: inside;
    padding: 0;
}