div {
    margin: 20px auto;
    width: 600px;
    height: 100px;
    background-color: #EEE;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    position: relative;
  }
  
  div::before {
    content: "";
    width: 610px;
    height: 110px;
    background-image: linear-gradient(to right,
        rgb(244, 67, 54) 20%,
        rgb(33, 150, 243) 20%,
        rgb(33, 150, 243) 40%,
        rgb(76, 175, 80) 40%,
        rgb(76, 175, 80) 60%,
        rgb(233, 30, 99) 60%,
        rgb(233, 30, 99) 80%,
        rgb(103, 58, 183) 80%);
    position: absolute;
    top: -5px;
    left:-5px;
    z-index: -1;
  }
  
  ::first-letter {
    color: rgb(244, 67, 54);
  }