.parent {
    width: 600px;
    height: 300px;
    background-color: #eee;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.parent div {
    color: white;
    background-color: red;
    text-align: center;
    width: calc(94% / 3);
    padding: 10px 0px;
}