div {
    width: 100px;
    height: 100px;
    position: absolute;
}
.red {
    background-color: red;
    z-index: 5;
    top: 60px;
    left: 60px;
}
.blue {
    background-color: blue;
    z-index: 3;
    top: 20px;
    left: 20px;
}
.green {
    background-color: green;
    z-index: 4;
    top: 40px;
    left: 40px;
}
.black {
    background-color: black;
    top: 40px;
    left: 20px;
}