* {
    box-sizing: border-box;
}
:root {
 --for-color:#ddd
}
.page {
    width: 100%;
    height: 400px;
    background-color: #eee;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}
.header {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 9%;
    padding: 10px;
    background-color: var(--for-color);
    text-align: center;
}
.links {
    background-color: var(--for-color);
    list-style: none;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: flex-end
}
li {
    margin-left: 10px;
}
.main-area {
    display: flex;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}
.content {
    background-color: var(--for-color);
    width:59.5%;
    padding: 10px;
}
.sidebar {
    background-color: var(--for-color);
    width: 39.5%;
    padding: 10px;
}
.footer {
    background-color: var(--for-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    padding: 10px;
}
.copyright {
    width: 50%;
}
.design {
    display: flex;
    width: 50%;
  justify-content:flex-end;
}