/* :root {
    --mainColor: #009688;
    --mainPadding: 10px;
  } */
  
  div {
    width: 400px;
    color: var(--mainColor,red);
    border: 2px solid var(--mainColor,black);
    padding: var(--mainPadding,10px) ;
    margin: 10px auto;
  }